{% extends 'index.html' %}


{% block title %}Home{% endblock %}


{% block mainheading %}Welcome to Home Page{% endblock %}

{% block para1 %}Goldmines Telefilms PVT LTD &  Mythri Movie Makers presents 'PUSHPA'. Written and Directed by Sukumar. Produced by Naveen Yerneni, Manish Shah and Y. Ravi Shankar of Mythri Movie Makers in association with Muttamsetty Media, the film stars Allu Arjun, Fahadh Faasil and Rashmika Mandanna, Dhanunjay, Rao Ramesh,Suneel, Anasuya Bharadwaj & Ajay Ghosh. The film's music is composed by Devi Sri Prasad, with cinematography and editing were performed by Miroslaw Kuba Brozek and Karthika Srinivas respectively.{% endblock %}


{% block footer %} This is Home Page {% endblock %}